---
import SupplierLayout from '../../layouts/SupplierLayout.astro'
---

<SupplierLayout>
  <h1>Solicitar Financiamiento de Factura</h1>
  <form>
    <label>Seleccione la Factura:</label>
    <select name='factura'>
      <option value='INV-001'>INV-001 - €10,000</option>
      <!-- Más facturas según disponibilidad -->
    </select><br />
    <button type='submit'>Solicitar Financiamiento</button>
  </form>
</SupplierLayout>
