---
import SupplierLayout from '../../layouts/SupplierLayout.astro'
---

<SupplierLayout>
  <article>
    <img src='https://files.readme.io/39f193d-image_2024-07-25_094002613.png' alt='Stenn' />
    <footer>
      <button onclick="window.location.href='/supplier/stenn-success'">Confirmar</button>
    </footer>
  </article>
</SupplierLayout>
