---
import SupplierLayout from '../../layouts/SupplierLayout.astro'
---

<SupplierLayout>
  <article>
    <header>Notice Assigment</header>
    <h3>Notice assigned successfully.</h3>
    <p>
      (Este documento confirma qué facturas están siendo financiadas por Stenn y que el comprador deberá realizar el
      pago a la cuenta de Stenn que figura en el documento adjunto)
    </p>
    <footer>
      <button onclick="window.location.href='/supplier/invoices_history'">Back to History</button>
    </footer>
  </article>
</SupplierLayout>
