---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<h1>Bienvenido a Fonprisa</h1>
	<p>Financiación y aseguramiento de facturas de forma rápida y sencilla.</p>
	<button onclick="window.location.href='login.html'">Iniciar Sesión</button>
	<button onclick="window.location.href='register.html'">Registrarse</button>
</BaseLayout>
