---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main>
    <h1>Bienvenido a Fonprisa</h1>
    <p>Financiación y aseguramiento de facturas de forma rápida y sencilla.</p>
    <div>
      <button onclick="window.location.href='register.html'">Registrarse</button>
      <button onclick="window.location.href='login.html'">Iniciar Sesión</button>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    place-items: center;
		height: 100%;
  }
</style>
