---
import BuyerLayout from '../../layouts/BuyerLayout.astro'
---

<BuyerLayout>
  <h1>Dashboard de Comprador</h1>
  <p>Resumen de facturas pendientes y plazos de pago.</p>
  <button onclick="window.location.href='invoices_history_en.html'">Ver Facturas Aprobadas</button>
  <button onclick="window.location.href='profile_en.html'">Editar Perfil</button>
</BuyerLayout>
