---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <header>
    <nav>
      <ul>
        <li><strong>Fonprisa</strong></li>
      </ul>
      <ul>
        <li><a href='#'>Facturas</a></li>
        <li><a href='#'>Usuarios</a></li>
        <li><a href='#'>Notificaciones</a></li>
        <li><a href='#'>Reportes</a></li>        
      </ul>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>
