---
import { ViewTransitions } from 'astro:transitions'
import '../global.css'

const title = 'Fonprisa'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='container'>
    <slot />
    <div class='views'>
      <a href='/'>Inicio</a>
      <a href='/admin'>Administrador</a>
      <a href='/supplier'>Proveedor</a>
      <a href='/buyer'>Compradores</a>
    </div>
  </body>
</html>

