---
const title = 'Fonprisa'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css' />
    <title>{title}</title>
  </head>
  <body class='container'>
    <slot />
    <div class="views">
      <a href="/admin">Administrador</a>
      <a href="/supplier">Proveedor</a>
      <a href="/buyer">Compradores</a>
    </div>
  </body>
</html>

<style is:global>
  .views {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    font-size: small;
  }
</style>
