---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <header>
    <nav>
      <ul>
        <li><strong>Fonprisa</strong></li>
      </ul>
      <ul>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Services</a></li>
        <li><a href='#'>Profile</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>
