---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <header>
    <nav>
      <ul>
        <li>
          <a href='/supplier'>
            <strong>Fonprisa</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li><a href='/supplier/create'>Registro</a></li>
        <li><a href='/supplier/upload_documents'>Facturas</a></li>
        <li><a href='/supplier/invoices_history'>Historial</a></li>
        <li><a href='/supplier/statistics'>Estadísticas</a></li>
        <!-- <li><a href='#'>Perfil</a></li>         -->
      </ul>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>
